
@{
    ViewBag.Title = "HKOCustomerDetail";
}

<h2>Thông tin khách hàng</h2>
<div class="alert alert-danger">
    <h3> Mã Số : @ViewBag.Customer.CustomerId</h3>
    <p>Họ và tên: @ViewBag.Customer.FirstName @ViewBag.Customer.LastName</p>
    <p>Mã số: @ViewBag.Customer.Address</p>
    <p>Năm sinh: @ViewBag.Customer.YearOfBirth</p>
</div>


